* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

blockquote > p:before {
    content: "‒ ";
}

blockquote > p {
    margin: 0 0 0 0;
}

.paint-canvas-container {
    width: 90%;
    height: 80%;
}

.paint-canvas-view {
    width: 100%;
    height: 100%;
    background-color: white;
}

.markdown {
    padding: 0 60px 0 60px;
}

#main-container {
    background: url("../img/llibre/fons general.png") repeat-y;
}
