.carousel-container {
    position: relative;
    perspective: 1100px;
}

.carousel {
    width: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
}

.carousel figure {
    /*margin: 0;
    display: table-row;*/
    position: absolute;
    border: 2px solid black;
}

.carousel figure img {
    max-width: 100%;
    height: auto;
}
