body {
    background-color: #2B2B2B;
}

.carousel {
    top: -100px;
}

@media (max-width: 450px) {
    .carousel .carousel-item {
        width: 80% !important;
    }
}

@media (min-width: 450px) and (max-width: 650px) {
    .carousel .carousel-item {
        width: 60% !important;
    }
}

@media (min-width: 650px) and (max-width: 800px) {
    .carousel .carousel-item {
        width: 40% !important;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    .carousel .carousel-item {
        width: 35% !important;
    }
}

@media(min-width: 1000px) {
    .carousel .carousel-item {
        width: 30% !important;
    }
    
    .carousel {
        height: 500px;
    }
}
