@font-face {
    font-family: "Helvetica Neue Light";
    src: url("fonts/HelveticaNeueLight.ttf")
}

* {
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

blockquote > p:before {
    content: "- ";
}

blockquote > p {
    margin: 0 0 0 0;
}

.canvas-view > canvas {
    width: 100%;
    height: 90%;
    background-color: white;
}

.canvas-view > .w3-row > a, .canvas-view > .w3-row > a > img {
    padding: 0 5px 0 5px;
    height: 30px;
    margin-bottom: 10px;
}

.markdown {
    padding: 0 15% 0 15%;
    font-size: large;
}

.element-book {
    width: 90%;
    height: 80%;
}

